<form [formGroup]="Stocksaveform" #save (ngSubmit)="saveStock(saveStock)">
    <div class="form-group">
        <label for="name">Quantité Stock</label>
        <input type="text" class="form-control" formControlName="qteStock" disabled data-toggle="tooltip"
            data-placement="right" title="Enter Quantité Stock">
        <div class="alert alert-danger" *ngIf="GetQuantite.errors && (GetQuantite.dirty || GetQuantite.touched) ">
            <div *ngIf="GetQuantite.errors?.['required'] ">champ obligatoire</div>
            <div *ngIf="GetQuantite.errors.pattern">pattern non respecte</div>
        </div>
    </div>
    <div class="form-group">
        <label for="name">Quantité Min</label>
        <input type="text" class="form-control" formControlName="qtemin" data-toggle="tooltip"
            data-placement="right" title="Enter Quantité Min">
        <div class="alert alert-danger" *ngIf="QteMin.errors && (QteMin.dirty || QteMin.touched)">
            <div *ngIf="QteMin.errors.required">champ obligatoire</div>
            <div *ngIf="QteMin.errors.pattern">pattern non respecte</div>
        </div>
    </div>
    <div class="form-group">
        <label for="name">libelle Stock</label>
        <input type="text" class="form-control" formControlName="libelleStock" data-toggle="tooltip"
            data-placement="right" title="Enter code rayon">
        <div class="alert alert-danger" *ngIf="GetLibelle.errors && (GetLibelle.dirty || GetLibelle.touched)">
            <div *ngIf="GetLibelle.errors.required">champ obligatoire</div>
            <div *ngIf="GetLibelle.errors.pattern">pattern non respecte</div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">ajouter</button>
</form>
