
<div class="content" style="margin-top:100px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">client</h4>
                        <p class="card-category"> Voila la liste des clients</p>
                    </div>
                    <nav class="navbar ">
                        <div class="col-auto">
                            <label for="categorie" class="visually-hidden"><i class="fa fa-search"></i>categorie Client :</label>
                          <input type="text" class="form-control" name="categorie"
                          [(ngModel)]="categorie" (ngModelChange)="SearchClient()" 
                          placeholder="entrer la categorie client " >
                        </div>
                      </nav>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
            <tr>
              <th scope="col" (click)="sortClient('id')" hidden>id&nbsp;<i class="fa fa-sort"></i></th>
              <th scope="col"(click)="sortClient('id')">nom&nbsp;<i class="fa fa-sort"></i></th>
              <th scope="col">prenom</th>
              <th scope="col" hidden>email</th>
              <th scope="col" hidden>password</th>
              <th scope="col">dateNaissance</th>
              <th scope="col">profession</th>
              <th scope="col">categorie client</th>
            <th scope="col">Actions</th>
              
            </tr>
          </thead>
          <tbody >
              <tr *ngFor ="let c of list | orderBy: key: reverse | paginate: {itemsPerPage:2,currentPage:p};" >
                  <td hidden>{{c.idclient}}</td>
                  <td >{{c.nom}}</td>
                  <td >{{c.prenom}}</td>
                  <td hidden>{{c.email}}</td>
                  <td hidden>{{c.password}}</td>
                  <td >{{c.date_naissance }}</td>
                  <td >{{c.profession}}</td>
                  <td >{{c.categorieclient}}</td>
                  <td>
                    <button  class=" btn  btn-sm btn-danger" (click)="deleteClient(c.idclient)" style="margin-left: 10px;"> 
                    <mat-icon>delete</mat-icon>delete
                  </button> 
                  </td>
                  <td><a class="btn  btn-sm btn-warning" [routerLink]="['/client/updateclient',c.idclient]" style="margin-left: 10px;"> 
                    <i class="fa fa-edit"></i>Update
                 </a>
                </td>
                  <td><a class="btn  btn-sm btn-info"  (click)="detailsClient(c.idclient)" style="margin-left: 10px;">
                    <i class="fa fa-search"></i> Info
                </a> 
                </td>
              </tr>
  
          </tbody>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          
          </table>
          <div class="border">
              <button class="btn btn-md btn-outline-primary" (click)="passAjout()" >
                <i class="fa fa-user"></i>  ajouter client
                </button>
              
          </div>
          <!--<div class="" id="form">
             <app-edit-client></app-edit-client>
  
          </div>-->
          </div>
          <router-outlet></router-outlet>
          <router-outlet></router-outlet>