<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Calendrier</h4>
                        <p class="card-category">Factures Event</p>
                    </div>
                    <div>
                        <br>
                    </div>
                  
  
  
                
                    <div class="card-body">
                        
                                 
                          <div class="container">
    <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
  
                    </div> 
                </div>
           
                   
                
  </div>