.margin-position{
  margin-top:140px;
}

::ng-deep .mat-fab{
  width: 30px!important;
  height: 30px!important;
}
::ng-deep .mat-icon{
padding-bottom: 7px;
height: 29px!important;
width: 29px!important;
font-size: 20px!important;
}
::ng-deep .mat-button-wrapper {
padding: 1px!important;

}

::ng-deep td.mat-cell{
  padding:2px;
}
.mat-form-field + .mat-form-field {
margin-left: 8px;
}
.d{
  background-color:#66c519f3!important;
}
.s{
  background-color:#47e7d2f3!important;
}