
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">client</h4>
                        <p class="card-category"> Pour Modifier un client:</p>
                    </div>
    <div class="card-body">

    <form #f="ngForm">

      <div class="form-group ">
        <label>id client</label>
        <input disabled type="text" name="id"  [(ngModel)]="currentClient.idclient">
      </div>
      <div class="form-group ">
        <label>First Name</label>
        <input name="firstname" [(ngModel)]="currentClient.nom" #first="ngModel" required minlength="3" pattern="[a-zA-Z]*" type="text" class="form-control">
      </div>
      <div *ngIf="first.touched && first.errors">
      <div class="alert alert-danger" role="alert" *ngIf="first.errors.required">
          Champ Obligatoire
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="first.errors.minlength">
          Le Champ doit contenir au moins {{first.errors.minlength.requiredLength}} lettres.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="first.errors.pattern">
          Le champ doit contenir que des lettres
      </div>
  </div>
      <div class="form-group">
          <label>Last Name</label>
          <input name="lastname" minlength="3" pattern="[a-zA-Z]*" [(ngModel)]="currentClient.prenom" #last="ngModel" required type="text" class="form-control">
        </div>
        <div *ngIf="last.touched && last.errors">
          <div class="alert alert-danger" role="alert" *ngIf="last.errors.required">
              Champ Obligatoire
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="last.errors.minlength">
              Le Champ doit contenir au moins {{last.errors.minlength.requiredLength}} lettres.
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="last.errors.pattern">
              Le champ doit contenir que des lettres
          </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" pattern="^[a-zA-Z0-9._-]+@gmail.com" [(ngModel)]="currentClient.email"  type="email" class="form-control" id="email" #email="ngModel">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="email.invalid">
        Votre email doit se terminer par "@gmail.com"
    </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input name="password" pattern="^[a-zA-Z0-9]{8,}?" [(ngModel)]="currentClient.password"  type="text" class="form-control" id="password" #password="ngModel">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="password.invalid">
        Votre mot de passe doit contenir des lettres non accentuées et des chiffres et de minimum 8 caractères
    </div>
      <div class="form-group">
        <label>Date de Naissance :</label>
        <input name="BirthDate" [(ngModel)]="currentClient.date_naissance"  type="date" class="form-control">
      </div>
      <div class="form-group" >
        <label for="Profession">Profession</label>
        <!--<input name="Profession" [(ngModel)]="client.profession"  type="profession" class="form-control" id="profession" #profession="ngModel">
        <br>
        <select class="form-select " aria-label="Default select example">
            
            <option value="1">Docteur</option>
            <option value="2">Ingenieur</option>
            <option value="3">Etudiant</option>
            <option value="4">Commercial</option>
            <option value="5">Cadre</option>
            <option value="6">Autre..</option>
        </select>-->
        <select name="Profession" id="Profession" [(ngModel)]="currentClient.profession"  type="profession" class="form-control">
            <option value="Docteur">Docteur</option>
            <option value="Ingenieur">Ingenieur</option>
            <option value="Etudiant">Etudiant</option>
            <option value="Commercial">Commercial</option>
            <option value="Cadre">Cadre</option>
            <option value="Autre">Autre</option>
        </select>
        

    </div>
        
      <div class="form-group" >
          <label for="categorie">categorie client</label>
          <!--<input name="categorie" [(ngModel)]="client.categorie"  type="categorie" class="form-control" id="categorie" #categorie="ngModel">-->

          <select class="form-select " [(ngModel)]="currentClient.categorieclient"  type="categorie" class="form-control" id="categorie">
              
              <option value="Fidele">Fidele</option>
              <option value="Ordinaire">Ordinaire</option>
              <option value="Premium">Premium</option>
          </select>

      </div>
      
          <div class="div-btn">
    <button type="submit" class="btn btn-success" (click)="editClient()" [routerLink]="['/client']" >Modifier</button>   
            
         </div>
         
         
        
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
