<div class="main-content">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Stock</h4>

          </div>


          <ng-template #modalData let-modal>
            <div class="modal-header">
              <h1 class="modal-title" id="modal-basic-title">Create Stock</h1>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <app-add-stock1></app-add-stock1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">annuler</button>
            </div>
          </ng-template>

          <ng-template #qr let-modal>
            <div class="modal-header">
              <h1 class="modal-title" id="modal-basic-title">QR-Code</h1>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" size=400 style="display: flex; justify-content: center;">
              
              <qrcode [qrdata]="qrInfo" [size]="256" style="text-align:center "></qrcode>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">fermer</button>
            </div>
          </ng-template>



          <div>

        <!--   <button [routerLink]="['/AddStock']" class="btn btn-primary">Ajouter</button> -->
            <button class="btn btn-success" style="margin-left: 600px;" (click)="triggerModal1(modalData)">Ajouter</button>
          </div>
          <div class="input-group" style="width: 40%;">
            <input type="text" class="form-control" style="margin-left:5px;" placeholder="Rechercher..." name="libelles"
              [(ngModel)]="libellestock" (ngModelChange)="Search()">
            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped" id="table">
                <thead class=" text-primary">
                  <!-- <th>
                                        Id Facture
                                    </th> -->
                  <tr>
                    <th (click)="sort('remise')">Quantité Stock&nbsp;<i class="fa fa-sort"></i></th>
                    <th>Quantité Min</th>
                    <th>libelle Stock</th>
                    <th>Supprimer</th>
                    <th>Modifier</th>

                  </tr>


                </thead>
                <tbody>
                  <!-- <tr *ngFor="let u of stocks; let i=indexn ; |
                                    paginate: { 
                                        itemsPerPage: 2,
                                         currentPage: page,
                                          totalItems : totalLength 
                                       } | orderBy: key:reverse " > -->

                  <tr *ngFor="let u of stocks | 
                                       paginate: { 
                                           itemsPerPage: 2,
                                            currentPage: page,
                                             totalItems : totalLength 
                                          } | orderBy: key:reverse">
                    <!-- <td>{{u.idfacture}}</td> -->


                    <td>{{u.quantite}}</td>
                    <td>{{u.quanite_min}}</td>
                    <td>{{u.libellestock}}</td>
                    <td><button class="btn  btn-danger" (click)="deleteStock(u.idstock,i)">supprimer</button></td>
                    <td><button class="btn  btn-warning" (click)="triggerModal(modal,u)">modifier</button> </td>



                  </tr>

                </tbody>
              </table>
              <button class="btn btn-success" (click)="triggerModal1(qr)"><mat-icon>qr_code</mat-icon>QR-code</button>
              <ng-template #modal let-modal>
                <div class="modal-header">
                  <h1 class="modal-title" id="modal-basic-title">Modifier Stock</h1>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">

                  <app-editstock1 (edited)="updatestock($event)" [prop2]="myRay" [stockToEdit]="myRay"></app-editstock1>
                </div>
                <!--<div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
                </div>-->
              </ng-template>
            </div>
          </div>
        </div>
        <pagination-controls class="text-center my-pagination" (pageChange)="page = $event">
        </pagination-controls>
       

        <!-- <span  class="material-icons" (click)="download()" tabindex="-1" role="button" aria-disabled="true">
                    picture_as_pdf </span> -->
        <!-- <button  class="btn  btn-danger" tabindex="-1" role="button" aria-disabled="true" (click)="download()">Télécharger PDF</button> -->

      </div>

    </div>



  </div>
  <div style=" margin-left: 50px ;height: 300px;width: 300px;">

     <canvas  id="canvas">{{chart}}</canvas>
  </div>
 
</div>