
 <div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajouter un Rayon</h4>
                      <p class="card-category">Entrer les informations nécissaires</p>
                  </div> 
                  <div class="card-body">
                      <form #f="ngForm">
                          <div class="form-group">
                            <label for="floatingInput">Code </label>
                            <input id="floatingInput" name="coderayon" type="text" class="form-control"   placeholder="Enter code" [(ngModel)]="rayon.coderayon" #ncoderayon="ngModel" required>
                          </div>
                          <div class="font-alert text-danger mb-3" *ngIf="ncoderayon.touched&&ncoderayon.invalid">
                            <div *ngIf="ncoderayon.hasError('required')">Code is required</div>
                          </div>
                          <div class="form-group">
                            <label for="floatingInput">Libelle </label>
                            <input id="floatingInput" name="libelle" type="text" class="form-control" placeholder=" Entrer libelle" [(ngModel)]="rayon.libelle" #nlibelle="ngModel" required minlength="3" >
                          </div>
                          <div class="font-alert text-danger mb-3" *ngIf="nlibelle.touched&&nlibelle.invalid">
                            <div *ngIf="nlibelle.hasError('required')">Libelle is required</div>
                            <div *ngIf="nlibelle.hasError('minlength')">Min Length is 3</div>
                          </div>
                          
                          <button type="button" class="btn btn-primary"(click)="save()"  routerLink="/rayon"  [disabled]="(f.invalid)" >Submit</button>
                        </form>
                  </div>
              </div>
          </div>
      
      </div>
  </div>
</div>
